.fade-transition-enter-active,
.fade-transition-leave-active,
.slide-left-transition-enter-active,
.slide-left-transition-leave-active,
.slide-right-transition-enter-active,
.slide-right-transition-leave-active,
.slide-up-transition-enter-active,
.slide-up-transition-leave-active,
.slide-down-transition-enter-active,
.slide-down-transition-leave-active {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.fade-transition-enter,
.fade-transition-leave-to {
  opacity: 0;
}
.slide-left-transition-enter-from,
.slide-right-transition-leave-to {
  transform: translate(100%, 0);
}
.slide-right-transition-enter-from,
.slide-left-transition-leave-to {
  transform: translate(-100%, 0);
}
.slide-up-transition-enter-from,
.slide-down-transition-leave-to {
  transform: translate(0, 100%);
}
.slide-down-transition-enter-from,
.slide-up-transition-leave-to {
  transform: translate(0, -100%);
}


.shine-effect() {
  position: relative;
  overflow: hidden;
  &:hover::after {
    -webkit-animation: shine 0.75s;
    animation: shine 0.75s;
  }
  &::after {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(
      left,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
}


@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
